﻿<div class="row offset-2">
    @foreach (var item in Model.Telescopes)
    {
        <div class="col-md-4 mb-5">
            <div class="card" style="max-width: 400px; height: 100%">
                <img src="@item.Img" class="card-img-top" style="width: 100%; max-height: 250px;	">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">$@item.Price</p>
                </div>
                <div class="card-footer" style="text-align: center">
                    @if (!Model.InAdminArea)
                    {
                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" asp-route-returnUrl=@Model.ReturnUrl class="btn btn-primary">Добавить в корзину</a>
                    }
                    else
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i>Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i>Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
