@page
@using WEB_153503_Shchirov.Areas.Admin.Pages;
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clothes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telescope.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telescope.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telescope.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telescope.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telescope.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telescope.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telescope.Img)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telescope.Img)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telescope.Mime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telescope.Mime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telescope.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telescope.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Telescope?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>