@model (List<Telescope> TelescopeList, List<Category> TelescopeCategoryList, int currentPage, int totalPages)
@{
	ViewData["Title"] = "Список позиций";
	var request = ViewContext.HttpContext.Request;
	var returnUrl = request.Path + request.QueryString.ToUriComponent();
	string? category = "";
	if(request.Query["category"].ToString() == ""){
		category = "Все";
	}
	else
	{
		category = request.Query["category"];
	}
	string? currentPage = request.Query["page"]; 
	string currentCategory = ViewData["currentCategory"] as string ?? "Все";
	int prev = Model.currentPage == 1
		? 1
		: Model.currentPage - 1;
	int next = Model.currentPage == Model.totalPages
	? Model.totalPages
	: Model.currentPage + 1;

	bool previousAvailable = Model.currentPage != 1;
	bool nextAvailable = Model.currentPage != Model.totalPages;
}

<div class="container">
	<!-- categories dropdown -->
	<div class="dropdown col-sm-1 mt-4">
		<button class="btn btn-secondary dropdown-toggle" style="min-width: 200px" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			@currentCategory
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li style="min-width: 200px">
				<a class="dropdown-item"
				   asp-controller="Product"
				   asp-action="Index"
				   asp-route-category="Все"
				   asp-route-currentCategory="Все">Все</a>
			</li>
			@foreach (var item in Model.TelescopeCategoryList)
			{
				<li style="min-width: 200px"><a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category=@item.NormalizedName asp-route-currentCategory=@item.Name>@item.Name</a></li>
			}
		</ul>
	</div> 
	<!-- /categories dropdown -->



	@{
		await Html.RenderPartialAsync("_ProductCardsAndPagerPartial", new
		{
			CurrentCategory = currentCategory,
			Category = category,
			ReturnUrl = returnUrl,
			CurrentPage = Model.currentPage,
			TotalPages = Model.totalPages,
			Telescopes = Model.TelescopeList,
			InAdminArea = false,
		});
	}
	<div aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item @(Model.currentPage == 1 ? "disabled" : "")">
				<a class="page-link"  asp-controller="Product"
				   asp-action="Index"
				   asp-route-category=@category
				   asp-route-currentcategory=@currentCategory
				   asp-route-pageNo=@prev>Предыдущая страница</a>
			</li>
			@for (int i = 1; i <= Model.totalPages; i++)
			{
				<li class="page-item @(Model.currentPage == i ? "active" : "")">
					<a class="page-link"  asp-controller="Product"
					   asp-action="Index"
					   asp-route-category=@category
					   asp-route-currentcategory=@currentCategory
					   asp-route-pageNo=@i>@i</a>
				</li>
			}
			<li class="page-item @(Model.currentPage == Model.totalPages ? "disabled" : "")">
				<a class="page-link" asp-controller="Product"
				   asp-action="Index"
				   asp-route-category=@category
				   asp-route-currentcategory=@currentCategory
				   asp-route-pageNo=@next>Следующая страница</a>
			</li>
		</ul>
	</div>
</div>